@{
    ViewData["Title"] = "Hạn chế truy cập";
}
<div class="card p-3">
    <div class="card-body pt-0">
        <header>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">Bạn không được phép truy cập chức năng này.</p>
        </header>
    </div>
</div>