@{
    ViewData["Title"] = "Xác thực email";
}
<div class="card p-3">
    <h1>@ViewData["Title"].</h1>
    <div class="card-body pt-0">
        <div>
            <p>
                Bạn đã hoàn thành xác thực email.
                Hãy <a asp-controller="Account" asp-action="Login">bấm vào đây để đăng nhập</a>.
            </p>
        </div>
    </div>
</div>