@{
    ViewData["Title"] = "Có lỗi";
}
<div class="card p-3">
    <h1>@ViewData["Title"]</h1>
    <div class="card-body pt-0">
        <div>
            <p>
                Lỗi không hoàn thành được tác vụ
            </p>
        </div>
    </div>
</div>