@{
    ViewData["Title"] = "Lỗi xác thực email";
}
<div class="card p-3">
    <h1>@ViewData["Title"].</h1>
    <div class="card-body pt-0">

        <div>
            <p>
                Có lỗi khi xác thực địa chỉ mail
            </p>
        </div>
    </div>
</div>