@{
    ViewData["Title"] = "Lỗi đăng nhập";
}
<div class="card p-3">
    <div class="card-body pt-0">
        <header>
            <h1>@ViewData["Title"].</h1>
            <p class="text-danger">Không sử dụng được dịch vụ đăng nhập.</p>
        </header>
    </div>
</div>
