@{
    ViewData["Title"] = "Thông báo lấy lại mật khẩu";
}
<div class="card p-3">

    <h1>@ViewData["Title"].</h1>
    <div class="card-body pt-0">
        <p>
            Kiểm tra email để lấy lại mật khẩu.
        </p>
    </div>
</div>