@{
    ViewData["Title"] = "Tạm khóa tài khoản";
}
<div class="card p-3">
    <div class="card-body pt-0">

        <header>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">
                Tài khoản bị tạm khóa, hãy thử lại sau
            </p>
        </header>
    </div>
</div>
