@{
    ViewData["Title"] = "Đặt lại mặt khẩu";
}
<div class="card p-3">
    <h1>@ViewData["Title"].</h1>
    <div class="card-body pt-0">
        <p>
            Bạn đã đặt lại mật khẩu,
            <a asp-controller="Account" asp-action="Login">
                bấm vào đây để đăng nhập
            </a>
        </p>
    </div>
</div>